.gridCharacterList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
    gap: 25px;
}
.gridCharacterList article{
    /* background-color: #EBCBAD; */
    background-color: rgb(25, 25, 25);
    border: solid 1px #8000ff;
    border-radius: 3px;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    
    
    min-width: 150px;
    max-width: 150px;
    height: 88px;
}
.gridCharacterList article:nth-child(odd){
    grid-column: 1;  
}
.gridCharacterList article a{
    text-decoration: none;
    color: black;
    text-align: center;
    min-width: 150px;
    min-height: 88px;
    color: white;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}