.mainPlay{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    color: white;
}
.playStat{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.modifyStat{
    display: flex;
    gap: 10px;
    align-items: center;
}
.modifyStat div{
    display: flex;
    gap: 1px;
}
.modifyStat div input{
    width: 35px;
}
.modifyStat div input::-webkit-outer-spin-button,
.modifyStat div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modifyStat div button{
    width: 35px;
    height: 35px;

    background-color: rgb(55, 55, 55);
    border: solid 1px #8000ff;
    border-radius: 3px;
    color: white;
    
}
.modifyStat div :nth-child(1):hover{
    filter: drop-shadow(0 0 5px rgb(0, 255, 0));
    border: solid 1px rgb(0, 255, 0);
}
.modifyStat div :nth-child(1):focus{
    filter: drop-shadow(0 0 5px rgb(0, 255, 0));
    border: solid 1px rgb(0, 255, 0);
    outline: none;
}
.modifyStat div :nth-child(3):hover{
    filter: drop-shadow(0 0 5px rgb(255, 0, 0));
    border: solid 1px rgb(255, 0, 0);
}
.modifyStat div :nth-child(3):focus{
    filter: drop-shadow(0 0 5px rgb(255, 0, 0));
    border: solid 1px rgb(255, 0, 0);
    outline: none;
}

@media(min-width: 576px){
    .mainPlay{
        padding: 25px 100px
    }
}
@media(min-width: 768px){
    .mainPlay{
        padding: 25px 200px
    }
}
@media(min-width: 1200px){
    .mainPlay{
        padding: 25px 300px
    }
}
@media(min-width: 1400px){
    .mainPlay{
        padding: 25px 400px
    }
}